.daily+.daily {
    margin-top: 1.5em;
}

.daily .info {
    color: black;
    overflow-wrap: break-word;
}

.daily .text {
    font-size: 14px;
}

.daily .heading {
    font-size: 12px;
    color: #888;
}

.daily .item {
    padding: 10px 0;
}

.daily .clearfix:before,
.daily .clearfix:after {
    display: table;
    content: "";
}

.daily .clearfix:after {
    clear: both
}

.daily .box-card {
    width: 100%;
}

.daily .btn-add {
    float: right;
    width: 36px;
    text-align: center;
    height: 36px;
    padding: 0;
    border-radius: 50%;
}
.daily .btn-edit,.daily .btn-delete {
    width: 18px;
    text-align: center;
    height: 18px;
    padding: 0;
    border-radius: 50%;
}
.daily .text-right {
    text-align: right;
}

.daily .el-form-item__content{
  width: 100%;
}
.daily-mask{
  position:fixed;
  width:100%;
  height:100%;
  top:0;
  left:0;
  z-index:10000;
  background-color: hsla(0,0%,100%,.9);
}
.daily-mask-text{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -30px;
  margin-top: -10px;
}
.dailycc-group{
  display: inline-block;
  font-size: 12px;
  margin: 3px;
  border-radius: 5px;
  border: #c3c3c3 solid;
  border-width: 1px;
}

.dailycc-group span{
  padding: 0 3px;
}
.dailycc-group .dailycc-read{
  background-color: #c3c3c3 ;
  color: white;
}
.dailycc-group.hasreaded{
  border-color: #37C355;
}
.dailycc-read.hasreaded{
  background-color: #37C355;
}
